.form-container {
  display: inline-block;
  padding: 30px;
}

.form {
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  width: 220px;
  background-color: rgb(170, 200, 255);
}

.input,
.submit {
  width: 150px;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 10px;
  padding: 20px;
  background-color: rgb(252, 163, 141);
}

.post-complete {
  background-color: rgb(166, 255, 163);
}

.author-todo {
  margin: 0;
}